<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>EAT DA BURGER</title>
		<link rel="stylesheet" type="text/css" href="/assests/css/burger_style.css"/>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assests/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>