<h1>Look At All These Burgers</h1>

<img src="/public/assests/img/burger.png" alt="Burger" width="100" height="100">

<h2>Devour These Burgers</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>These Burgers Have Been Devoured</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Order a New Burger!</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>



    <button type="submit">Make Burger</button>
</form>