body {
    background-color: rgb(190, 13, 13);
    text-align: center;
}

button {
    background-color: goldenrod;
}

ul {
    padding: 10px;
    margin: 10px;
    background: gold;
}

.label {
    font-weight: bold;
}

.create-form {
    padding: 10px;
    margin: 10px;
    background: gold;
}

.form-group {
    margin-bottom: 10px;
}